openapi: 3.2.0
info:
  title: Azure Functions Management Web Apps API
  description: REST API for managing Azure Function Apps and Azure Functions resources.
  version: '2022-09-01'
servers:
- url: https://management.azure.com/
tags:
- name: Web Apps
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/sites:
    get:
      description: Description for Get all apps for a subscription.
      operationId: WebApps_List
      parameters:
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of App Service apps.
                properties:
                  nextLink:
                    description: Link to next page of resources.
                    readOnly: true
                    type: string
                  value:
                    description: Collection of resources.
                    items:
                      allOf:
                      - description: Azure resource. This resource is tracked in Azure Resource Manager
                        properties:
                          id:
                            description: Resource Id.
                            readOnly: true
                            type: string
                          kind:
                            description: Kind of resource.
                            type: string
                          location:
                            description: Resource Location.
                            type: string
                          name:
                            description: Resource Name.
                            readOnly: true
                            type: string
                          tags:
                            additionalProperties:
                              type: string
                            description: Resource tags.
                            type: object
                          type:
                            description: Resource type.
                            readOnly: true
                            type: string
                        required:
                        - location
                        x-ms-azure-resource: true
                      description: A web app, a mobile app backend, or an API app.
                      properties:
                        identity:
                          description: Managed service identity.
                          properties:
                            principalId:
                              description: Principal Id of managed service identity.
                              readOnly: true
                              type: string
                            tenantId:
                              description: Tenant of managed service identity.
                              readOnly: true
                              type: string
                            type:
                              description: Type of managed service identity.
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              type: string
                              x-ms-enum:
                                modelAsString: false
                                name: ManagedServiceIdentityType
                            userAssignedIdentities:
                              additionalProperties:
                                properties:
                                  clientId:
                                    description: Client Id of user assigned identity
                                    readOnly: true
                                    type: string
                                  principalId:
                                    description: Principal Id of user assigned identity
                                    readOnly: true
                                    type: string
                                type: object
                              description: 'The list of user assigned identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'
                              type: object
                          type: object
                        properties:
                          description: Site resource specific properties
                          properties:
                            availabilityState:
                              description: Management information availability state for the app.
                              enum:
                              - Normal
                              - Limited
                              - DisasterRecoveryMode
                              readOnly: true
                              type: string
                              x-ms-enum:
                                modelAsString: false
                                name: SiteAvailabilityState
                            clientAffinityEnabled:
                              description: <code>true</code> to enable client affinity; <code>false</code> to stop sending session affinity cookies, which route client requests in the same session to the same instance. Default is <code>true</code>.
                              type: boolean
                            clientCertEnabled:
                              description: <code>true</code> to enable client certificate authentication (TLS mutual authentication); otherwise, <code>false</code>. Default is <code>false</code>.
                              type: boolean
                            clientCertExclusionPaths:
                              description: client certificate authentication comma-separated exclusion paths
                              type: string
                            cloningInfo:
                              description: Information needed for cloning operation.
                              properties:
                                appSettingsOverrides:
                                  additionalProperties:
                                    type: string
                                  description: "Application setting overrides for cloned app. If specified, these settings override the settings cloned \nfrom source app. Otherwise, application settings from source app are retained."
                                  type: object
                                cloneCustomHostNames:
                                  description: <code>true</code> to clone custom hostnames from source app; otherwise, <code>false</code>.
                                  type: boolean
                                cloneSourceControl:
                                  description: <code>true</code> to clone source control from source app; otherwise, <code>false</code>.
                                  type: boolean
                                configureLoadBalancing:
                                  description: <code>true</code> to configure load balancing for source and destination app.
                                  type: boolean
                                correlationId:
                                  description: 'Correlation ID of cloning operation. This ID ties multiple cloning operations

                                    together to use the same snapshot.'
                                  example: 00000000-0000-0000-0000-000000000000
                                  format: uuid
                                  type: string
                                hostingEnvironment:
                                  description: App Service Environment.
                                  type: string
                                overwrite:
                                  description: <code>true</code> to overwrite destination app; otherwise, <code>false</code>.
                                  type: boolean
                                sourceWebAppId:
                                  description: "ARM resource ID of the source app. App resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName} for production slots and \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slotName} for other slots."
                                  type: string
                                sourceWebAppLocation:
                                  description: 'Location of source app ex: West US or North Europe'
                                  type: string
                                trafficManagerProfileId:
                                  description: "ARM resource ID of the Traffic Manager profile to use, if it exists. Traffic Manager resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{profileName}."
                                  type: string
                                trafficManagerProfileName:
                                  description: Name of Traffic Manager profile to create. This is only needed if Traffic Manager profile does not already exist.
                                  type: string
                              required:
                              - sourceWebAppId
                              type: object
                            containerSize:
                              description: Size of the function container.
                              format: int32
                              type: integer
                            dailyMemoryTimeQuota:
                              description: Maximum allowed daily memory-time quota (applicable on dynamic apps only).
                              format: int32
                              type: integer
                            defaultHostName:
                              description: Default hostname of the app. Read-only.
                              readOnly: true
                              type: string
                            enabled:
                              description: <code>true</code> if the app is enabled; otherwise, <code>false</code>. Setting this value to false disables the app (takes the app offline).
                              type: boolean
                            enabledHostNames:
                              description: 'Enabled hostnames for the app.Hostnames need to be assigned (see HostNames) AND enabled. Otherwise,

                                the app is not served on those hostnames.'
                              items:
                                type: string
                              readOnly: true
                              type: array
                            hostNameSslStates:
                              description: Hostname SSL states are used to manage the SSL bindings for app's hostnames.
                              items:
                                description: SSL-enabled hostname.
                                properties:
                                  hostType:
                                    description: Indicates whether the hostname is a standard or repository hostname.
                                    enum:
                                    - Standard
                                    - Repository
                                    type: string
                                    x-ms-enum:
                                      modelAsString: false
                                      name: HostType
                                  name:
                                    description: Hostname.
                                    type: string
                                  sslState:
                                    description: SSL type.
                                    enum:
                                    - Disabled
                                    - SniEnabled
                                    - IpBasedEnabled
                                    type: string
                                    x-ms-enum:
                                      modelAsString: false
                                      name: SslState
                                  thumbprint:
                                    description: SSL certificate thumbprint.
                                    type: string
                                  toUpdate:
                                    description: Set to <code>true</code> to update existing hostname.
                                    type: boolean
                                  virtualIP:
                                    description: Virtual IP address assigned to the hostname if IP based SSL is enabled.
                                    type: string
                                type: object
                              type: array
                            hostNames:
                              description: Hostnames associated with the app.
                              items:
                                type: string
                              readOnly: true
                              type: array
                            hostNamesDisabled:
                              description: "<code>true</code> to disable the public hostnames of the app; otherwise, <code>false</code>.\n If <code>true</code>, the app is only accessible via API management process."
                              type: boolean
                            hostingEnvironmentProfile:
                              description: Specification for an App Service Environment to use for this resource.
                              properties:
                                id:
                                  description: Resource ID of the App Service Environment.
                                  type: string
                                name:
                                  description: Name of the App Service Environment.
                                  readOnly: true
                                  type: string
                                type:
                                  description: Resource type of the App Service Environment.
                                  readOnly: true
                                  type: string
                              type: object
                            httpsOnly:
                              description: 'HttpsOnly: configures a web site to accept only https requests. Issues redirect for

                                http requests'
                              type: boolean
                            hyperV:
                              default: false
                              description: Hyper-V sandbox.
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            inProgressOperationId:
                              description: Specifies an operation id if this site has a pending operation.
                              example: 00000000-0000-0000-0000-000000000000
                              format: uuid
                              readOnly: true
                              type: string
                            isDefaultContainer:
                              description: <code>true</code> if the app is a default container; otherwise, <code>false</code>.
                              readOnly: true
                              type: boolean
                            isXenon:
                              default: false
                              description: 'Obsolete: Hyper-V sandbox.'
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            lastModifiedTimeUtc:
                              description: Last time the app was modified, in UTC. Read-only.
                              format: date-time
                              readOnly: true
                              type: string
                            maxNumberOfWorkers:
                              description: 'Maximum number of workers.

                                This only applies to Functions container.'
                              format: int32
                              readOnly: true
                              type: integer
                            outboundIpAddresses:
                              description: List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from tenants that site can be hosted with current settings. Read-only.
                              readOnly: true
                              type: string
                            possibleOutboundIpAddresses:
                              description: List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from all tenants except dataComponent. Read-only.
                              readOnly: true
                              type: string
                            redundancyMode:
                              description: Site redundancy mode
                              enum:
                              - None
                              - Manual
                              - Failover
                              - ActiveActive
                              - GeoRedundant
                              type: string
                              x-ms-enum:
                                modelAsString: false
                                name: RedundancyMode
                            repositorySiteName:
                              description: Name of the repository site.
                              readOnly: true
                              type: string
                            reserved:
                              default: false
                              description: <code>true</code> if reserved; otherwise, <code>false</code>.
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            resourceGroup:
                              description: Name of the resource group the app belongs to. Read-only.
                              readOnly: true
                              type: string
                            scmSiteAlsoStopped:
                              default: false
                              description: <code>true</code> to stop SCM (KUDU) site when the app is stopped; otherwise, <code>false</code>. The default is <code>false</code>.
                              type: boolean
                            serverFarmId:
                              description: 'Resource ID of the associated App Service plan, formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
                              type: string
                            siteConfig:
                              description: Configuration of an App Service app.
                              properties:
                                alwaysOn:
                                  description: <code>true</code> if Always On is enabled; otherwise, <code>false</code>.
                                  type: boolean
                                apiDefinition:
                                  description: Information about the formal API definition for the app.
                                  properties:
                                    url:
                                      description: The URL of the API definition.
                                      type: string
                                  type: object
                                apiManagementConfig:
                                  description: Azure API management (APIM) configuration linked to the app.
                                  properties:
                                    id:
                                      description: APIM-Api Identifier.
                                      type: string
                                  type: object
                                appCommandLine:
                                  description: App command line to launch.
                                  type: string
                                appSettings:
                                  description: Application settings.
                                  items:
                                    description: Name value pair.
                                    properties:
                                      name:
                                        description: Pair name.
                                        type: string
                                      value:
                                        description: Pair value.
                                        type: string
                                    type: object
                                  type: array
                                autoHealEnabled:
                                  description: <code>true</code> if Auto Heal is enabled; otherwise, <code>false</code>.
                                  type: boolean
                                autoHealRules:
                                  description: Rules that can be defined for auto-heal.
                                  properties:
                                    actions:
                                      description: Actions which to take by the auto-heal module when a rule is triggered.
                                      properties:
                                        actionType:
                                          description: Predefined action to be taken.
                                          enum:
                                          - Recycle
                                          - LogEvent
                                          - CustomAction
                                          type: string
                                          x-ms-enum:
                                            modelAsString: false
                                            name: AutoHealActionType
                                        customAction:
                                          description: 'Custom action to be executed

                                            when an auto heal rule is triggered.'
                                          properties:
                                            exe:
                                              description: Executable to be run.
                                              type: string
                                            parameters:
                                              description: Parameters for the executable.
                                              type: string
                                          type: object
                                        minProcessExecutionTime:
                                          description: 'Minimum time the process must execute

                                            before taking the action'
                                          type: string
                                      type: object
                                    triggers:
                                      description: Triggers for auto-heal.
                                      properties:
                                        privateBytesInKB:
                                          description: A rule based on private bytes.
                                          format: int32
                                          type: integer
                                        requests:
                                          description: Trigger based on total requests.
                                          properties:
                                            count:
                                              description: Request Count.
                                              format: int32
                                              type: integer
                                            timeInterval:
                                              description: Time interval.
                                              type: string
                                          type: object
                                        slowRequests:
                                          description: Trigger based on request execution time.
                                          properties:
                                            count:
                                              description: Request Count.
                                              format: int32
                                              type: integer
                                            timeInterval:
                                              description: Time interval.
                                              type: string
                                            timeTaken:
                                              description: Time taken.
                                              type: string
                                          type: object
                                        statusCodes:
                                          description: A rule based on status codes.
                                          items:
                                            description: Trigger based on status code.
                                            properties:
                                              count:
                                                description: Request Count.
                                                format: int32
                                                type: integer
                                              status:
                                                description: HTTP status code.
                                                format: int32
                                                type: integer
                                              subStatus:
                                                description: Request Sub Status.
                                                format: int32
                                                type: integer
                                              timeInterval:
                                                description: Time interval.
                                                type: string
                                              win32Status:
                                                description: Win32 error code.
                                                format: int32
                                                type: integer
                                            type: object
                                          type: array
                                      type: object
                                  type: object
                                autoSwapSlotName:
                                  description: Auto-swap slot name.
                                  type: string
                                connectionStrings:
                                  description: Connection strings.
                                  items:
                                    description: Database connection string information.
                                    properties:
                                      connectionString:
                                        description: Connection string value.
                                        type: string
                                      name:
                                        description: Name of connection string.
                                        type: string
                                      type:
                                        description: Type of database.
                                        enum:
                                        - MySql
                                        - SQLServer
                                        - SQLAzure
                                        - Custom
                                        - NotificationHub
                                        - ServiceBus
                                        - EventHub
                                        - ApiHub
                                        - DocDb
                                        - RedisCache
                                        - PostgreSQL
                                        type: string
                                        x-ms-enum:
                                          modelAsString: false
                                          name: ConnectionStringType
                                    type: object
                                  type: array
                                cors:
                                  description: Cross-Origin Resource Sharing (CORS) settings for the app.
                                  properties:
                                    allowedOrigins:
                                      description: 'Gets or sets the list of origins that should be allowed to make cross-origin

                                        calls (for example: http://example.com:12345). Use "*" to allow all.'
                                      items:
                                        type: string
                                      type: array
                                    supportCredentials:
                                      description: "Gets or sets whether CORS requests with credentials are allowed. See \nhttps://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Requests_with_credentials\nfor more details."
                                      type: boolean
                                  type: object
                                defaultDocuments:
                                  description: Default documents.
                                  items:
                                    type: string
                                  type: array
                                detailedErrorLoggingEnabled:
                                  description: <code>true</code> if detailed error logging is enabled; otherwise, <code>false</code>.
                                  type: boolean
                                documentRoot:
                                  description: Document root.
                                  type: string
                                experiments:
                                  description: Routing rules in production experiments.
                                  properties:
                                    rampUpRules:
                                      description: List of ramp-up rules.
                                      items:
                                        description: Routing rules for ramp up testing. This rule allows to redirect static traffic % to a slot or to gradually change routing % based on performance.
                                        properties:
                                          actionHostName:
                                            description: Hostname of a slot to which the traffic will be redirected if decided to. E.g. myapp-stage.azurewebsites.net.
                                            type: string
                                          changeDecisionCallbackUrl:
                                            description: 'Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified. See TiPCallback site extension for the scaffold and contracts.

                                              https://www.siteextensions.net/packages/TiPCallback/'
                                            type: string
                                          changeIntervalInMinutes:
                                            description: Specifies interval in minutes to reevaluate ReroutePercentage.
                                            format: int32
                                            type: integer
                                          changeStep:
                                            description: "In auto ramp up scenario this is the step to add/remove from <code>ReroutePercentage</code> until it reaches \\n<code>MinReroutePercentage</code> or \n<code>MaxReroutePercentage</code>. Site metrics are checked every N minutes specified in <code>ChangeIntervalInMinutes</code>.\\nCustom decision algorithm \ncan be provided in TiPCallback site extension which URL can be specified in <code>ChangeDecisionCallbackUrl</code>."
                                            format: double
                                            type: number
                                          maxReroutePercentage:
                                            description: Specifies upper boundary below which ReroutePercentage will stay.
                                            format: double
                                            type: number
                                          minReroutePercentage:
                                            description: Specifies lower boundary above which ReroutePercentage will stay.
                                            format: double
                                            type: number
                                          name:
                                            description: Name of the routing rule. The recommended name would be to point to the slot which will receive the traffic in the experiment.
                                            type: string
                                          reroutePercentage:
                                            description: Percentage of the traffic which will be redirected to <code>ActionHostName</code>.
                                            format: double
                                            type: number
                                        type: object
                                      type: array
                                  type: object
                                ftpsState:
                                  description: State of FTP / FTPS service
                                  enum:
                                  - AllAllowed
                                  - FtpsOnly
                                  - Disabled
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: FtpsState
                                handlerMappings:
                                  description: Handler mappings.
                                  items:
                                    description: "The IIS handler mappings used to define which handler processes HTTP requests with certain extension. \nFor example, it is used to configure php-cgi.exe process to handle all HTTP requests with *.php extension."
                                    properties:
                                      arguments:
                                        description: Command-line arguments to be passed to the script processor.
                                        type: string
                                      extension:
                                        description: Requests with this extension will be handled using the specified FastCGI application.
                                        type: string
                                      scriptProcessor:
                                        description: The absolute path to the FastCGI application.
                                        type: string
                                    type: object
                                  type: array
                                healthCheckPath:
                                  description: Health check path
                                  type: string
                                http20Enabled:
                                  default: true
                                  description: 'Http20Enabled: configures a web site to allow clients to connect over http2.0'
                                  type: boolean
                                httpLoggingEnabled:
                                  description: <code>true</code> if HTTP logging is enabled; otherwise, <code>false</code>.
                                  type: boolean
                                ipSecurityRestrictions:
                                  description: IP security restrictions for main.
                                  items:
                                    description: IP security restriction on an app.
                                    properties:
                                      action:
                                        description: Allow or Deny access for this IP range.
                                        type: string
                                      description:
                                        description: IP restriction rule description.
                                        type: string
                                      ipAddress:
                                        description: 'IP address the security restriction is valid for.

                                          It can be in form of pure ipv4 address (required SubnetMask property) or

                                          CIDR notation such as ipv4/mask (leading bit match). For CIDR,

                                          SubnetMask property must not be specified.'
                                        type: string
                                      name:
                                        description: IP restriction rule name.
                                        type: string
                                      priority:
                                        description: Priority of IP restriction rule.
                                        format: int32
                                        type: integer
                                      subnetMask:
                                        description: Subnet mask for the range of IP addresses the restriction is valid for.
                                        type: string
                                      subnetTrafficTag:
                                        description: (internal) Subnet traffic tag
                                        format: int32
                                        type: integer
                                      tag:
                                        description: Defines what this IP filter will be used for. This is to support IP filtering on proxies.
                                        enum:
                                        - Default
                                        - XffProxy
                                        type: string
                                        x-ms-enum:
                                          modelAsString: false
                                          name: IpFilterTag
                                      vnetSubnetResourceId:
                                        description: Virtual network resource id
                                        type: string
                                      vnetTrafficTag:
                                        description: (internal) Vnet traffic tag
                                        format: int32
                                        type: integer
                                    type: object
                                  type: array
                                javaContainer:
                                  description: Java container.
                                  type: string
                                javaContainerVersion:
                                  description: Java container version.
                                  type: string
                                javaVersion:
                                  description: Java version.
                                  type: string
                                limits:
                                  description: Metric limits set on an app.
                                  properties:
                                    maxDiskSizeInMb:
                                      description: Maximum allowed disk size usage in MB.
                                      format: int64
                                      type: integer
                                    maxMemoryInMb:
                                      description: Maximum allowed memory usage in MB.
                                      format: int64
                                      type: integer
                                    maxPercentageCpu:
                                      description: Maximum allowed CPU usage percentage.
                                      format: double
                                      type: number
                                  type: object
                                linuxFxVersion:
                                  description: Linux App Framework and version
                                  type: string
                                loadBalancing:
                                  description: Site load balancing.
                                  enum:
                                  - WeightedRoundRobin
                                  - LeastRequests
                                  - LeastResponseTime
                                  - WeightedTotalTraffic
                                  - RequestHash
                                  type: string
                                  x-ms-enum:
                                    modelAsString: false
                                    name: SiteLoadBalancing
                                localMySqlEnabled:
                                  default: false
                                  description: <code>true</code> to enable local MySQL; otherwise, <code>false</code>.
                                  type: boolean
                                logsDirectorySizeLimit:
                                  description: HTTP logs directory size limit.
                                  format: int32
                                  type: integer
                                machineKey:
                                  description: MachineKey of an app.
                                  properties:
                                    decryption:
                                      description: Algorithm used for decryption.
                                      type: string
                                    decryptionKey:
                                      description: Decryption key.
                                      type: string
                                    validation:
                                      description: MachineKey validation.
                                      type: string
                                    validationKey:
                                      description: Validation key.
                                      type: string
                                  type: object
                                managedPipelineMode:
                                  description: Managed pipeline mode.
                                  enum:
                                  - Integrated
                                  - Classic
                                  type: string
                                  x-ms-enum:
                                    modelAsString: false
                                    name: ManagedPipelineMode
                                managedServiceIdentityId:
                                  description: Managed Service Identity Id
                                  format: int32
                                  type: integer
                                minTlsVersion:
                                  description: 'MinTlsVersion: configures the minimum version of TLS required for SSL requests'
                                  enum:
                                  - '1.0'
                                  - '1.1'
                                  - '1.2'
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: SupportedTlsVersions
                                netFrameworkVersion:
                                  default: v4.6
                                  description: .NET Framework version.
                                  type: string
                                nodeVersion:
                                  description: Version of Node.js.
                                  type: string
                                numberOfWorkers:
                                  description: Number of workers.
                                  format: int32
                                  type: integer
                                phpVersion:
                                  description: Version of PHP.
                                  type: string
                                preWarmedInstanceCount:
                                  description: 'Number of preWarmed instances.

                                    This setting only applies to the Consumption and Elastic Plans'
                                  format: int32
                                  maximum: 10
                                  minimum: 0
                                  type: integer
                                publishingUsername:
                                  description: Publishing user name.
                                  type: string
                                push:
                                  allOf:
                                  - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
                                    properties:
                                      id:
                                        description: Resource Id.
                                        readOnly: true
                                        type: string
                                      kind:
                                        description: Kind of resource.
                                        type: string
                                      name:
                                        description: Resource Name.
                                        readOnly: true
                                        type: string
                                      type:
                                        description: Resource type.
                                        readOnly: true
                                        type: string
                                    x-ms-azure-resource: true
                                  description: Push settings for the App.
                                  properties:
                                    properties:
                                      description: PushSettings resource specific properties
                                      properties:
                                        dynamicTagsJson:
                                          description: Gets or sets a JSON string containing a list of dynamic tags that will be evaluated from user claims in the push registration endpoint.
                                          type: string
                                        isPushEnabled:
                                          description: Gets or sets a flag indicating whether the Push endpoint is enabled.
                                          type: boolean
                                        tagWhitelistJson:
                                          description: Gets or sets a JSON string containing a list of tags that are whitelisted for use by the push registration endpoint.
                                          type: string
                                        tagsRequiringAuth:
                                          description: "Gets or sets a JSON string containing a list of tags that require user authentication to be used in the push registration endpoint.\nTags can consist of alphanumeric characters and the following:\n'_', '@', '#', '.', ':', '-'. \nValidation should be performed at the PushRequestHandler."
                                          type: string
                                      required:
                                      - isPushEnabled
                                      x-ms-client-flatten: true
                                  type: object
                                pythonVersion:
                                  description: Version of Python.
                                  type: string
                                remoteDebuggingEnabled:
                                  description: <code>true</code> if remote debugging is enabled; otherwise, <code>false</code>.
                                  type: boolean
                                remoteDebuggingVersion:
                                  description: Remote debugging version.
                                  type: string
                                requestTracingEnabled:
                                  description: <code>true</code> if request tracing is enabled; otherwise, <code>false</code>.
                                  type: boolean
                                requestTracingExpirationTime:
                                  description: Request tracing expiration time.
                                  format: date-time
                                  type: string
                                scmIpSecurityRestrictions:
                                  description: IP security restrictions for scm.
                                  items:
                                    description: IP security restriction on an app.
                                    properties:
                                      action:
                                        description: Allow or Deny access for this IP range.
                                        type: string
                                      description:
                                        description: IP restriction rule description.
                                        type: string
                                      ipAddress:
                                        description: 'IP address the security restriction is valid for.

                                          It can be in form of pure ipv4 address (required SubnetMask property) or

                                          CIDR notation such as ipv4/mask (leading bit match). For CIDR,

                                          SubnetMask property must not be specified.'
                                        type: string
                                      name:
                                        description: IP restriction rule name.
                                        type: string
                                      priority:
                                        description: Priority of IP restriction rule.
                                        format: int32
                                        type: integer
                                      subnetMask:
                                        description: Subnet mask for the range of IP addresses the restriction is valid for.
                                        type: string
                                      subnetTrafficTag:
                                        description: (internal) Subnet traffic tag
                                        format: int32
                                        type: integer
                                      tag:
                                        description: Defines what this IP filter will be used for. This is to support IP filtering on proxies.
                                        enum:
                                        - Default
                                        - XffProxy
                                        type: string
                                        x-ms-enum:
                                          modelAsString: false
                                          name: IpFilterTag
                                      vnetSubnetResourceId:
                                        description: Virtual network resource id
                                        type: string
                                      vnetTrafficTag:
                                        description: (internal) Vnet traffic tag
                                        format: int32
                                        type: integer
                                    type: object
                                  type: array
                                scmIpSecurityRestrictionsUseMain:
                                  description: IP security restrictions for scm to use main.
                                  type: boolean
                                scmType:
                                  description: SCM type.
                                  enum:
                                  - None
                                  - Dropbox
                                  - Tfs
                                  - LocalGit
                                  - GitHub
                                  - CodePlexGit
                                  - CodePlexHg
                                  - BitbucketGit
                                  - BitbucketHg
                                  - ExternalGit
                                  - ExternalHg
                                  - OneDrive
                                  - VSO
                                  - VSTSRM
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: ScmType
                                tracingOptions:
                                  description: Tracing options.
                                  type: string
                                use32BitWorkerProcess:
                                  description: <code>true</code> to use 32-bit worker process; otherwise, <code>false</code>.
                                  type: boolean
                                virtualApplications:
                                  description: Virtual applications.
                                  items:
                                    description: Virtual application in an app.
                                    properties:
                                      physicalPath:
                                        description: Physical path.
                                        type: string
                                      preloadEnabled:
                                        description: <code>true</code> if preloading is enabled; otherwise, <code>false</code>.
                                        type: boolean
                                      virtualDirectories:
                                        description: Virtual directories for virtual application.
                                        items:
                                          description: Directory for virtual application.
                                          properties:
                                            physicalPath:
                                              description: Physical path.
                                              type: string
                                            virtualPath:
                                              description: Path to virtual application.
                                              type: string
                                          type: object
                                        type: array
                                      virtualPath:
                                        description: Virtual path.
                                        type: string
                                    type: object
                                  type: array
                                vnetName:
                                  description: Virtual Network name.
                                  type: string
                                  x-ms-mutability:
                                  - create
                                  - read
                                webSocketsEnabled:
                                  description: <code>true</code> if WebSocket is enabled; otherwise, <code>false</code>.
                                  type: boolean
                                windowsFxVersion:
                                  description: Xenon App Framework and version
                                  type: string
                                xManagedServiceIdentityId:
                                  description: Explicit Managed Service Identity Id
                                  format: int32
                                  type: integer
                              type: object
                            slotSwapStatus:
                              description: The status of the last successful slot swap operation.
                              properties:
                                destinationSlotName:
                                  description: The destination slot of the last swap operation.
                                  readOnly: true
                                  type: string
                                sourceSlotName:
                                  description: The source slot of the last swap operation.
                                  readOnly: true
                                  type: string
                                timestampUtc:
                                  description: The time the last successful slot swap completed.
                                  format: date-time
                                  readOnly: true
                                  type: string
                              type: object
                            state:
                              description: Current state of the app.
                              readOnly: true
                              type: string
                            suspendedTill:
                              description: App suspended till in case memory-time quota is exceeded.
                              format: date-time
                              readOnly: true
                              type: string
                            targetSwapSlot:
                              description: Specifies which deployment slot this app will swap into. Read-only.
                              readOnly: true
                              type: string
                            trafficManagerHostNames:
                              description: Azure Traffic Manager hostnames associated with the app. Read-only.
                              items:
                                type: string
                              readOnly: true
                              type: array
                            usageState:
                              description: State indicating whether the app has exceeded its quota usage. Read-only.
                              enum:
                              - Normal
                              - Exceeded
                              readOnly: true
                              type: string
                              x-ms-enum:
                                modelAsString: false
                                name: UsageState
                          x-ms-client-flatten: true
                      type: object
                    type: array
                required:
                - value
                type: object
        default:
          description: App Service error response.
          content:
            application/json:
              schema:
                description: App Service error response.
                properties:
                  error:
                    description: Error model.
                    properties:
                      code:
                        description: Standardized string to programmatically identify the error.
                        readOnly: true
                        type: string
                      details:
                        items:
                          description: Detailed errors.
                          properties:
                            code:
                              description: Standardized string to programmatically identify the error.
                              readOnly: true
                              type: string
                            message:
                              description: Detailed error description and debugging information.
                              readOnly: true
                              type: string
                            target:
                              description: Detailed error description and debugging information.
                              readOnly: true
                              type: string
                          readOnly: true
                        type: array
                      innererror:
                        description: More information to debug error.
                        readOnly: true
                        type: string
                      message:
                        description: Detailed error description and debugging information.
                        readOnly: true
                        type: string
                      target:
                        description: Detailed error description and debugging information.
                        readOnly: true
                        type: string
                    readOnly: true
                    type: object
                type: object
      summary: Azure Function Apps Get All Apps for a Subscription
      tags:
      - Web Apps
      x-ms-pageable:
        nextLinkName: nextLink
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites:
    get:
      description: Description for Gets all web, mobile, and API apps in the specified resource group.
      operationId: WebApps_ListByResourceGroup
      parameters:
      - $ref: '#/components/parameters/resourceGroupNameParameter'
      - description: Specify <strong>true</strong> to include deployment slots in results. The default is false, which only gives you the production slot of all apps.
        in: query
        name: includeSlots
        example: example-value
        schema:
          type: boolean
      - $ref: '#/components/parameters/subscriptionIdParameter'
      - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: Collection of App Service apps.
                properties:
                  nextLink:
                    description: Link to next page of resources.
                    readOnly: true
                    type: string
                  value:
                    description: Collection of resources.
                    items:
                      allOf:
                      - description: Azure resource. This resource is tracked in Azure Resource Manager
                        properties:
                          id:
                            description: Resource Id.
                            readOnly: true
                            type: string
                          kind:
                            description: Kind of resource.
                            type: string
                          location:
                            description: Resource Location.
                            type: string
                          name:
                            description: Resource Name.
                            readOnly: true
                            type: string
                          tags:
                            additionalProperties:
                              type: string
                            description: Resource tags.
                            type: object
                          type:
                            description: Resource type.
                            readOnly: true
                            type: string
                        required:
                        - location
                        x-ms-azure-resource: true
                      description: A web app, a mobile app backend, or an API app.
                      properties:
                        identity:
                          description: Managed service identity.
                          properties:
                            principalId:
                              description: Principal Id of managed service identity.
                              readOnly: true
                              type: string
                            tenantId:
                              description: Tenant of managed service identity.
                              readOnly: true
                              type: string
                            type:
                              description: Type of managed service identity.
                              enum:
                              - None
                              - SystemAssigned
                              - UserAssigned
                              type: string
                              x-ms-enum:
                                modelAsString: false
                                name: ManagedServiceIdentityType
                            userAssignedIdentities:
                              additionalProperties:
                                properties:
                                  clientId:
                                    description: Client Id of user assigned identity
                                    readOnly: true
                                    type: string
                                  principalId:
                                    description: Principal Id of user assigned identity
                                    readOnly: true
                                    type: string
                                type: object
                              description: 'The list of user assigned identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'
                              type: object
                          type: object
                        properties:
                          description: Site resource specific properties
                          properties:
                            availabilityState:
                              description: Management information availability state for the app.
                              enum:
                              - Normal
                              - Limited
                              - DisasterRecoveryMode
                              readOnly: true
                              type: string
                              x-ms-enum:
                                modelAsString: false
                                name: SiteAvailabilityState
                            clientAffinityEnabled:
                              description: <code>true</code> to enable client affinity; <code>false</code> to stop sending session affinity cookies, which route client requests in the same session to the same instance. Default is <code>true</code>.
                              type: boolean
                            clientCertEnabled:
                              description: <code>true</code> to enable client certificate authentication (TLS mutual authentication); otherwise, <code>false</code>. Default is <code>false</code>.
                              type: boolean
                            clientCertExclusionPaths:
                              description: client certificate authentication comma-separated exclusion paths
                              type: string
                            cloningInfo:
                              description: Information needed for cloning operation.
                              properties:
                                appSettingsOverrides:
                                  additionalProperties:
                                    type: string
                                  description: "Application setting overrides for cloned app. If specified, these settings override the settings cloned \nfrom source app. Otherwise, application settings from source app are retained."
                                  type: object
                                cloneCustomHostNames:
                                  description: <code>true</code> to clone custom hostnames from source app; otherwise, <code>false</code>.
                                  type: boolean
                                cloneSourceControl:
                                  description: <code>true</code> to clone source control from source app; otherwise, <code>false</code>.
                                  type: boolean
                                configureLoadBalancing:
                                  description: <code>true</code> to configure load balancing for source and destination app.
                                  type: boolean
                                correlationId:
                                  description: 'Correlation ID of cloning operation. This ID ties multiple cloning operations

                                    together to use the same snapshot.'
                                  example: 00000000-0000-0000-0000-000000000000
                                  format: uuid
                                  type: string
                                hostingEnvironment:
                                  description: App Service Environment.
                                  type: string
                                overwrite:
                                  description: <code>true</code> to overwrite destination app; otherwise, <code>false</code>.
                                  type: boolean
                                sourceWebAppId:
                                  description: "ARM resource ID of the source app. App resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName} for production slots and \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slotName} for other slots."
                                  type: string
                                sourceWebAppLocation:
                                  description: 'Location of source app ex: West US or North Europe'
                                  type: string
                                trafficManagerProfileId:
                                  description: "ARM resource ID of the Traffic Manager profile to use, if it exists. Traffic Manager resource ID is of the form \n/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{profileName}."
                                  type: string
                                trafficManagerProfileName:
                                  description: Name of Traffic Manager profile to create. This is only needed if Traffic Manager profile does not already exist.
                                  type: string
                              required:
                              - sourceWebAppId
                              type: object
                            containerSize:
                              description: Size of the function container.
                              format: int32
                              type: integer
                            dailyMemoryTimeQuota:
                              description: Maximum allowed daily memory-time quota (applicable on dynamic apps only).
                              format: int32
                              type: integer
                            defaultHostName:
                              description: Default hostname of the app. Read-only.
                              readOnly: true
                              type: string
                            enabled:
                              description: <code>true</code> if the app is enabled; otherwise, <code>false</code>. Setting this value to false disables the app (takes the app offline).
                              type: boolean
                            enabledHostNames:
                              description: 'Enabled hostnames for the app.Hostnames need to be assigned (see HostNames) AND enabled. Otherwise,

                                the app is not served on those hostnames.'
                              items:
                                type: string
                              readOnly: true
                              type: array
                            hostNameSslStates:
                              description: Hostname SSL states are used to manage the SSL bindings for app's hostnames.
                              items:
                                description: SSL-enabled hostname.
                                properties:
                                  hostType:
                                    description: Indicates whether the hostname is a standard or repository hostname.
                                    enum:
                                    - Standard
                                    - Repository
                                    type: string
                                    x-ms-enum:
                                      modelAsString: false
                                      name: HostType
                                  name:
                                    description: Hostname.
                                    type: string
                                  sslState:
                                    description: SSL type.
                                    enum:
                                    - Disabled
                                    - SniEnabled
                                    - IpBasedEnabled
                                    type: string
                                    x-ms-enum:
                                      modelAsString: false
                                      name: SslState
                                  thumbprint:
                                    description: SSL certificate thumbprint.
                                    type: string
                                  toUpdate:
                                    description: Set to <code>true</code> to update existing hostname.
                                    type: boolean
                                  virtualIP:
                                    description: Virtual IP address assigned to the hostname if IP based SSL is enabled.
                                    type: string
                                type: object
                              type: array
                            hostNames:
                              description: Hostnames associated with the app.
                              items:
                                type: string
                              readOnly: true
                              type: array
                            hostNamesDisabled:
                              description: "<code>true</code> to disable the public hostnames of the app; otherwise, <code>false</code>.\n If <code>true</code>, the app is only accessible via API management process."
                              type: boolean
                            hostingEnvironmentProfile:
                              description: Specification for an App Service Environment to use for this resource.
                              properties:
                                id:
                                  description: Resource ID of the App Service Environment.
                                  type: string
                                name:
                                  description: Name of the App Service Environment.
                                  readOnly: true
                                  type: string
                                type:
                                  description: Resource type of the App Service Environment.
                                  readOnly: true
                                  type: string
                              type: object
                            httpsOnly:
                              description: 'HttpsOnly: configures a web site to accept only https requests. Issues redirect for

                                http requests'
                              type: boolean
                            hyperV:
                              default: false
                              description: Hyper-V sandbox.
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            inProgressOperationId:
                              description: Specifies an operation id if this site has a pending operation.
                              example: 00000000-0000-0000-0000-000000000000
                              format: uuid
                              readOnly: true
                              type: string
                            isDefaultContainer:
                              description: <code>true</code> if the app is a default container; otherwise, <code>false</code>.
                              readOnly: true
                              type: boolean
                            isXenon:
                              default: false
                              description: 'Obsolete: Hyper-V sandbox.'
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            lastModifiedTimeUtc:
                              description: Last time the app was modified, in UTC. Read-only.
                              format: date-time
                              readOnly: true
                              type: string
                            maxNumberOfWorkers:
                              description: 'Maximum number of workers.

                                This only applies to Functions container.'
                              format: int32
                              readOnly: true
                              type: integer
                            outboundIpAddresses:
                              description: List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from tenants that site can be hosted with current settings. Read-only.
                              readOnly: true
                              type: string
                            possibleOutboundIpAddresses:
                              description: List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from all tenants except dataComponent. Read-only.
                              readOnly: true
                              type: string
                            redundancyMode:
                              description: Site redundancy mode
                              enum:
                              - None
                              - Manual
                              - Failover
                              - ActiveActive
                              - GeoRedundant
                              type: string
                              x-ms-enum:
                                modelAsString: false
                                name: RedundancyMode
                            repositorySiteName:
                              description: Name of the repository site.
                              readOnly: true
                              type: string
                            reserved:
                              default: false
                              description: <code>true</code> if reserved; otherwise, <code>false</code>.
                              type: boolean
                              x-ms-mutability:
                              - create
                              - read
                            resourceGroup:
                              description: Name of the resource group the app belongs to. Read-only.
                              readOnly: true
                              type: string
                            scmSiteAlsoStopped:
                              default: false
                              description: <code>true</code> to stop SCM (KUDU) site when the app is stopped; otherwise, <code>false</code>. The default is <code>false</code>.
                              type: boolean
                            serverFarmId:
                              description: 'Resource ID of the associated App Service plan, formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
                              type: string
                            siteConfig:
                              description: Configuration of an App Service app.
                              properties:
                                alwaysOn:
                                  description: <code>true</code> if Always On is enabled; otherwise, <code>false</code>.
                                  type: boolean
                                apiDefinition:
                                  description: Information about the formal API definition for the app.
                                  properties:
                                    url:
                                      description: The URL of the API definition.
                                      type: string
                                  type: object
                                apiManagementConfig:
                                  description: Azure API management (APIM) configuration linked to the app.
                                  properties:
                                    id:
                                      description: APIM-Api Identifier.
                                      type: string
                                  type: object
                                appCommandLine:
                                  description: App command line to launch.
                                  type: string
                                appSettings:
                                  description: Application settings.
                                  items:
                                    description: Name value pair.
                                    properties:
                                      name:
                                        description: Pair name.
                                        type: string
                                      value:
                                        description: Pair value.
                                        type: string
                                    type: object
                                  type: array
                                autoHealEnabled:
                                  description: <code>true</code> if Auto Heal is enabled; otherwise, <code>false</code>.
                                  type: boolean
                                autoHealRules:
                                  description: Rules that can be defined for auto-heal.
                                  properties:
                                    actions:
                                      description: Actions which to take by the auto-heal module when a rule is triggered.
                                      properties:
                                        actionType:
                                          description: Predefined action to be taken.
                                          enum:
                                          - Recycle
                                          - LogEvent
                                          - CustomAction
                                          type: string
                                          x-ms-enum:
                                            modelAsString: false
                                            name: AutoHealActionType
                                        customAction:
                                          description: 'Custom action to be executed

                                            when an auto heal rule is triggered.'
                                          properties:
                                            exe:
                                              description: Executable to be run.
                                              type: string
                                            parameters:
                                              description: Parameters for the executable.
                                              type: string
                                          type: object
                                        minProcessExecutionTime:
                                          description: 'Minimum time the process must execute

                                            before taking the action'
                                          type: string
                                      type: object
                                    triggers:
                                      description: Triggers for auto-heal.
                                      properties:
                                        privateBytesInKB:
                                          description: A rule based on private bytes.
                                          format: int32
                                          type: integer
                                        requests:
                                          description: Trigger based on total requests.
                                          properties:
                                            count:
                                              description: Request Count.
                                              format: int32
                                              type: integer
                                            timeInterval:
                                              description: Time interval.
                                              type: string
                                          type: object
                                        slowRequests:
                                          description: Trigger based on request execution time.
                                          properties:
                                            count:
                                              description: Request Count.
                                              format: int32
                                              type: integer
                                            timeInterval:
                                              description: Time interval.
                                              type: string
                                            timeTaken:
                                              description: Time taken.
                                              type: string
                                          type: object
                                        statusCodes:
                                          description: A rule based on status codes.
                                          items:
                                            description: Trigger based on status code.
                                            properties:
                                              count:
                                                description: Request Count.
                                                format: int32
                                                type: integer
                                              status:
                                                description: HTTP status code.
                                                format: int32
                                                type: integer
                                              subStatus:
                                                description: Request Sub Status.
                                                format: int32
                                                type: integer
                                              timeInterval:
                                                description: Time interval.
                                                type: string
                                              win32Status:
                                                description: Win32 error code.
                                                format: int32
                                                type: integer
                                            type: object
                                          type: array
                                      type: object
                                  type: object
                                autoSwapSlotName:
                                  description: Auto-swap slot name.
                                  type: string
                                connectionStrings:
                                  description: Connection strings.
                                  items:
                                    description: Database connection string information.
                                    properties:
                                      connectionString:
                                        description: Connection string value.
                                        type: string
                                      name:
                                        description: Name of connection string.
                                        type: string
                                      type:
                                        description: Type of database.
                                        enum:
                                        - MySql
                                        - SQLServer
                                        - SQLAzure
                                        - Custom
                                        - NotificationHub
                                        - ServiceBus
                                        - EventHub
                                        - ApiHub
                                        - DocDb
                                        - RedisCache
                                        - PostgreSQL
                                        type: string
                                        x-ms-enum:
                                          modelAsString: false
                                          name: ConnectionStringType
                                    type: object
                                  type: array
                                cors:
                                  description: Cross-Origin Resource Sharing (CORS) settings for the app.
                                  properties:
                                    allowedOrigins:
                                      description: 'Gets or sets the list of origins that should be allowed to make cross-origin

                                        calls (for example: http://example.com:12345). Use "*" to allow all.'
                                      items:
                                        type: string
                                      type: array
                                    supportCredentials:
                                      description: "Gets or sets whether CORS requests with credentials are allowed. See \nhttps://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Requests_with_credentials\nfor more details."
                                      type: boolean
                                  type: object
                                defaultDocuments:
                                  description: Default documents.
                                  items:
                                    type: string
                                  type: array
                                detailedErrorLoggingEnabled:
                                  description: <code>true</code> if detailed error logging is enabled; otherwise, <code>false</code>.
                                  type: boolean
                                documentRoot:
                                  description: Document root.
                                  type: string
                                experiments:
                                  description: Routing rules in production experiments.
                                  properties:
                                    rampUpRules:
                                      description: List of ramp-up rules.
                                      items:
                                        description: Routing rules for ramp up testing. This rule allows to redirect static traffic % to a slot or to gradually change routing % based on performance.
                                        properties:
                                          actionHostName:
                                            description: Hostname of a slot to which the traffic will be redirected if decided to. E.g. myapp-stage.azurewebsites.net.
                                            type: string
                                          changeDecisionCallbackUrl:
                                            description: 'Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified. See TiPCallback site extension for the scaffold and contracts.

                                              https://www.siteextensions.net/packages/TiPCallback/'
                                            type: string
                                          changeIntervalInMinutes:
                                            description: Specifies interval in minutes to reevaluate ReroutePercentage.
                                            format: int32
                                            type: integer
                                          changeStep:
                                            description: "In auto ramp up scenario this is the step to add/remove from <code>ReroutePercentage</code> until it reaches \\n<code>MinReroutePercentage</code> or \n<code>MaxReroutePercentage</code>. Site metrics are checked every N minutes specified in <code>ChangeIntervalInMinutes</code>.\\nCustom decision algorithm \ncan be provided in TiPCallback site extension which URL can be specified in <code>ChangeDecisionCallbackUrl</code>."
                                            format: double
                                            type: number
                                          maxReroutePercentage:
                                            description: Specifies upper boundary below which ReroutePercentage will stay.
                                            format: double
                                            type: number
                                          minReroutePercentage:
                                            description: Specifies lower boundary above which ReroutePercentage will stay.
                                            format: double
                                            type: number
                                          name:
                                            description: Name of the routing rule. The recommended name would be to point to the slot which will receive the traffic in the experiment.
                                            type: string
                                          reroutePercentage:
                                            description: Percentage of the traffic which will be redirected to <code>ActionHostName</code>.
                                            format: double
                                            type: number
                                        type: object
                                      type: array
                                  type: object
                                ftpsState:
                                  description: State of FTP / FTPS service
                                  enum:
                                  - AllAllowed
                                  - FtpsOnly
                                  - Disabled
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: FtpsState
                                handlerMappings:
                                  description: Handler mappings.
                                  items:
                                    description: "The IIS handler mappings used to define which handler processes HTTP requests with certain extension. \nFor example, it is used to configure php-cgi.exe process to handle all HTTP requests with *.php extension."
                                    properties:
                                      arguments:
                                        description: Command-line arguments to be passed to the script processor.
                                        type: string
                                      extension:
                                        description: Requests with this extension will be handled using the specified FastCGI application.
                                        type: string
                                      scriptProcessor:
                                        description: The absolute path to the FastCGI application.
                                        type: string
                                    type: object
                                  type: array
                                healthCheckPath:
                                  description: Health check path
                                  type: string
                                http20Enabled:
[...]
